.card_wrapper {
    height: 100%;
    width: 198px;
    margin-right: 5px;
    margin-left: 5px;
    border: 3px solid gray;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.day {
    color: gray;
    font-size: 20px;
    font-weight: 700;
}

.wind,
.humidity,
.pressure {
    font-weight: 700;
    margin-left: 5px;
    display: flex;
    margin-bottom: 7px;
}

.wind_title,
.humidity_title,
.pressure_title {
    padding-left: 5px;
}

.time {
    color: gray;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.weather {
    display: grid;
    grid-template-areas:
        'svg another'
}

.temp {
    font-size: 45px;
    font-weight: 500;
}

.block2 {
    grid-area: svg;
}

.block3 {
    grid-area: another;
}