.App {
  min-width: 1024px;
  margin-top: 10px;
  text-align: center;
  min-height: max-content;
  border-radius: 15px;
  padding: 40px 40px 40px 40px;
  /* background-color: rgba(128, 128, 128, 0.103); */
  background-image: url('https://img2.akspic.ru/attachments/crops/6/9/2/9/39296/39296-oblako-solnechnyj_svet-spokojnyj-spokojstvie-nebo-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todayWeather {
  display: flex;
}

@media screen and (max-width: 1512px) {
  .todayWeather {
    display: flex;
    flex-direction: column;
  }
}