.citySelection {
    border-radius: 15px;
}

.city_card {
    display: flex;
    width: 290px;
    border-bottom: 1px solid gray;
    background-color: rgba(180, 174, 174);
}

.city_card:hover {
    background-color: #9C9797;
    cursor: pointer;
}


.city_card > span {
    margin-right: 5px;
    font-size: 20px;
    white-space: normal;
    font-weight: 500;
    padding: 5px 5px 5px 9px;
    text-align: left;
}